@import url("../font/stylesheet.css");

// Center Text
.text-center {
  text-align: center;
}
// Heading
$heading: 1;
@while ($heading <= 6) {
  h#{$heading} {
    font-size: 3em - ($heading * 0.25em);
    font-weight: 700;
  }
  $heading: $heading + 1;
}
